/* Write your CSS here! */
:root {
    --content-margin: 2rem 15vw;
}
body {
    margin: 8px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(156, 195, 236);
}

img {
    height: 20vh;
    width: 25vw;
    object-fit: contain;
}

p {
    padding: 0 5vw;
    font-size: 1rem;
}

h1 {
    margin: var(--content-margin);
    text-align: center;
    background-color: rgb(179, 221, 247);
    padding: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

h2 {
    
    text-align: center;
    background-color: rgb(208, 243, 180);
    padding: 1rem 0;
}

article {
    margin: var(--content-margin);
    background-color: lightgray;
}

div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

