/* Write your CSS here! */

html {
    font-size: 16px;
}

:root {
    --content-margin: 2rem 5vw;
}
body {
    margin: 8px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(156, 195, 236);
}

img {
    height: 20vh;
    width: 25vw;
    object-fit: contain;
}

p {
    padding: 0 5vw;
    font-size: 1rem;
}

h1 {
    margin: var(--content-margin);
    text-align: center;
    background-color: rgb(179, 221, 247);
    padding: 2rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    font-size: 2rem;
    color: rgb(54, 54, 54);
}

h2 {
    
    text-align: center;
    background-color: rgb(208, 243, 180);
    padding: 1rem 0;
    border-radius: 5px 5px 0 0;
    font-size: 1.5rem;
    color: rgb(102, 100, 100)
}

h3 {
    text-align: center;
    font-size: .75rem;
}

article {
    margin: var(--content-margin);
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
}

.photo-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#city-league-heading1 {

}

#city-league-heading2 {

}

#city-league-heading3 {

}

#city-league-img1 {
    justify-self: center;
}

#city-league-img2 {
    
}

#city-league-img3 {
    
}

#mainHeading {
    color: red;
    display: none;
}

.funParagraph {
    color: green;
    display: none;
}

